<div id="form" class="col-xs-10 col-xs-offset-1">
  <%= form_for @issue, url: {action: "create"}, html: {id: "issueForm"} do |f| %>
    <h1>Report an Issue</h1>
    <%= f.text_area :message, required: true, placeholder: "Enter your message", class: "text-input form-control" %>
    <h4 class="movedown">Your Email Address</h4>
    <%= f.text_field :email, placeholder: "Enter your email, if you like", type: "email", name: "email", class: "form-control" %>
    <%= f.submit "Submit", class: "btn btn-lg btn-primary btn-block", type: "submit" %>
    <div class="alert-area">
    </div>
  <% end %>
</div>

<script src="report.js"></script>
